#mapid {
    height: 400px;
}

div.coloured-bg {
    background-color: #0f0f0a;
}

div.fill-red {
    background-color: red;
}

div.fill-green {
    background-color: green;
}
div.fill-blue {
    background-color: blue;
}

div.hh {
    height: 400px;
}
div#graph {
    background-color: #808080;

}
  .popup {
      border: 1%;
      margin-bottom: 2%;
  }
  
  .popup img {
      width: 200px;
  }
#graph{
    margin-bottom: 30px;
}
