#mapid {
   
    height: 400px;
}

div.coloured-bg {
    background-color: #0f0f0a;
}

div.fill-red {
    background-color: red;
}

div.fill-green {
    background-color: green;
}
div.fill-blue {
    background-color: blue;
}

div.hh {
    height: 400px;
}
.popup{
    text-align: center;
    
}